# INEURON ML Masters - Assignment 1 submitted by Achyut Babu

## Task 1

### Question 1

#### Install Jupyter notebook and run the first program and share the screenshot of the output.

#### Answer

In [4]:
# Anaconda is successfully installed in my machine and able to run in two different ports
# http://localhost:8888/ and http://localhost:8889/.
# Also you can find the screenshot of the Jupyter notebook.

<img src ="a1q1.png" />

### Question 2

#### Write a program which will find all such numbers which are divisible by 7 but are not a multiple
#### of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
#### comma-separated sequence on a single line.

#### Answer

In [10]:
#empty list
numberList = [] 

# iterate through range between 2000 to 3200 including both numbers
for x in range(2000, 3201): 
    if (x%7==0) and (x%5==0):
        #appending successful outcome to the list
        numberList.append(str(x)) 
        s = ',' #seperator
print (s.join(numberList)) #use join function to return the list with seperators

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

### Question 3

#### Write a Python program to reverse a word after accepting the input from the user.

#### Answer

In [15]:
# get first name
firstname = input("Type your First Name : ")
# get last name
lastname = input("Type your Last Name : ")
print (lastname + " " + firstname)

Type your First Name : Achyut
Type your Last Name : Babu
Babu Achyut

### Question 4

#### Write a Python program to find the volume of a sphere with diameter 12 cm. Formula: V=4/3 * Ï€ * r 3

#### Answer

In [20]:
#assign pi constant value
pi = 3.1415926535897931
#radius is equal to diameter / 2
radius = 12/2
#apply volum formula
V = 4.0/3.0*pi* radius**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

## Task 2

### Question 1

#### Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

#### Answer

In [23]:
# Get number values
numvalues = input("Type comma seprated numbers : ")
#split the string seperated by commas and store the same into a variable as list
numList = numvalues.split(",")
print('List : ',numList)

Type comma seprated numbers : 1,2,3,4,5
List :  ['1', '2', '3', '4', '5']

### Question 2

#### Create the below pattern using nested for loop in Python.

#### Answer

In [56]:
#using nested loop

maxval=5;
#print asterix asceding
for i in range(maxval):
    for j in range(i):
        print ('* ', end="")
    print('')
#print asterix descending or reverse order
for i in range(maxval,0,-1):
    for j in range(i):
        print('* ', end="")
    print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

#### Answer without nested loop using list and slicing

In [50]:
asterixlist = ["*","*","*","*","*"]
print (list1[0]+ "\n"+ " ".join(list1[0:2])+ "\n"+ " ".join(list1[0:3])+ "\n"+ " ".join(list1[0:4])+ "\n"+ " ".join(list1[0:5]))
print( " ".join(list1[0:4])+ "\n"+ " ".join(list1[0:3])+ "\n"+ " ".join(list1[0:2])+ "\n"+ list1[0])

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### Question 3

#### Write a Python program to reverse a word after accepting the input from the user.

#### Answer

In [57]:
# get input word
inputword = input("Type a word : ")
print( inputword[::-1]) #reverse order

Type a word : AchyutBabu
ubaBtuyhcA

### Question 4

#### Write a Python Program to print the given string in the format specified in the sample output.
#### WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a
#### SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all
#### its citizens

#### Answer

In [67]:
print("WE, THE PEOPLE OF INDIA, \n\t having solemnly resolved to constitute India into a SOVEREIGN, !")
print("\t\t SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC \n\t\t\t and to secure to all its citizens")

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
			 and to secure to all its citizens